body {
    box-sizing: border-box;
    margin: 0px;
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
}

img {
    width: 180px;
    height: 180px;
}

header {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;

    background-color: #63B3ED;
    color: #FFFFFF;
}

header img {
    border-radius: 92px;
}

header h1 {
    margin: 0 auto 2px;
}

header p {
    margin: 2px auto 40px;
}

main {
    grid-column: 1 / 3;
    margin-left: 100px;
    margin-right: 70px;
}

aside {
    margin-right: 100px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.blog-post img {
    float: right;
    width: 200px;
    margin: 20px;
}